{
    "presets": [
        // "@babel/env",
        // "@babel/react"//,
        "env",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}